@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  /* background-color: black; */
  background-image: url('./img/background.jpg');
  background-repeat: no-repeat;
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
	position: relative;
}

/* h1 {
  display: inline-block;
} */

.container {
  max-width: 1000px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px ;
  padding: 30px;
  border-radius: 15px;
  background-color: rgb(225, 247, 255);
}

.header {
  /* display: flex; */
  /* justify-content: space-between; */
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  margin-bottom: 20px;
  color: red;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.item {
  /* background: #ddd4d4c5; */
  background:#dddddd;
  margin-top: 5px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.deals::-webkit-scrollbar{
  display: none;
  -ms-overflow-style: auto;
  scrollbar-width: none;
}

.item:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.task.reminder {
  border-left: 5px solid green;
}

.item h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
}

.add-form .btn{
  margin-left: 0%;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  margin-left: 0%;
  padding: 3px 7px;
  font-size: 17px;
  border-radius: 5px;
  border-style: hidden;
}
input:focus {
  outline: none;
}
.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.modal {
  width: 800px;
  height: 78%;
  overflow: auto;
  top: 50px;
  right: 50%;
  margin-right: -400px;
  position: fixed; 
  border-radius: 15px;
  background-color:rgb(110, 178, 218);
}
.modal::-webkit-scrollbar{
  display: none;
  -ms-overflow-style: auto;
  scrollbar-width: none;
}